<mat-form-field>
  <mat-label>Select</mat-label>
  <mat-select [(ngModel)]="fuelType" (selectionChange)="seleccionarFuelType($event.value)">
    <mat-option value="Gasolina">Gasolina</mat-option>
    <mat-option value="Diesel">Diesel</mat-option>
    <mat-option value="Hidro">Hidrógeno</mat-option>
  </mat-select>
</mat-form-field>

<mat-slider [min]="selectedMinPrice" [max]="selectedMaxPrice"
[disabled]="fuelType === ''">
  <input value="300" matSliderStartThumb>
  <input value="400" matSliderEndThumb>
</mat-slider>

<button class="btn btn-primary" (click)="aplicarFiltro()">Buscar</button>
<button class="btn btn-light" (click)="resetFiltro()">Reset</button>
