<nav class="navbar sticky-top p-3 d-flex justify-content-around w-100">
    <form (ngSubmit)="applyFilter()" class="d-flex align-items-center">
      
      <!-- Selector de tipo de combustible -->
      <div class="me-3">
        <label for="fuelType" class="form-label">Tipo de Combustible</label>
        <select 
          class="form-select" 
          id="fuelType" 
          name="fuelType"
          [(ngModel)]="selectedFuelType" 
          (change)="onFuelTypeChange()">
          <option value="priceBiodiesel">Biodiesel</option>
          <option value="price95">Gasolina 95</option>
          <option value="priceDiesel">Diesel</option>
          <option value="priceHidro">Hidrógeno</option>
        </select>
      </div>
  
      <!-- Campos de precio -->
      <div class="me-3" style="width: 300px;">
        <label for="minPrice" class="form-label">Precio mínimo</label>
        <input 
          type="number" 
          class="form-control" 
          id="minPrice" 
          name="minPrice"
          [(ngModel)]="minPrice" 
          [min]="fuelPriceRanges[selectedFuelType].min" 
          [max]="maxPrice" 
          (change)="onPriceChange()"
          step="0.01">
        
        <label for="maxPrice" class="form-label mt-2">Precio máximo</label>
        <input 
          type="number" 
          class="form-control" 
          id="maxPrice" 
          name="maxPrice"
          [(ngModel)]="maxPrice" 
          [min]="minPrice" 
          [max]="fuelPriceRanges[selectedFuelType].max" 
          (change)="onPriceChange()"
          step="0.01">
      </div>
  
      <button mat-raised-button color="primary" type="submit" class="btn btn-primary">
        Filtrar
      </button>
    </form>
  </nav>