<div class="container-fluid text-center my-5 mx-4">
    <div class="row d-flex justify-content-center">
        <!--@for(gasolinera of gasolineraList; track gasolineraList.indexOf(gasolinera)) {-->
            <div class="card border-3 rounded-4 border-black p-0 mx-2 mb-4" style="width: 23rem;">
                <div class="text-uppercase text-center border border-3 border-bottom-3 border-black border-start-0 border-end-0 border-top-0 bgCard py-2 px-3">
                    <h2 class="m-0 py-1 text-black">Gasofinha</h2>
                </div>
                <div class="card-body">
                    <h5 class="m-0 text-center"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Dirección:</strong> C. Torneo, 70, Casco Antiguo, 41002 Sevilla</h5>
                    <div class="w-100 pt-4 text-start ps-4">
                        <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Gasóleo:</strong> 1,3 €/l</h4>
                        <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> 1,4 €/l</h4>
                        <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong> 3 €/l</h4>
                    </div>
                </div>
            </div>
            <div class="card border-3 rounded-4 border-black p-0 mx-2 mb-4" style="width: 23rem;">
                <div class="text-uppercase text-center border border-3 border-bottom-3 border-black border-start-0 border-end-0 border-top-0 bgCard py-2 px-3">
                    <h2 class="m-0 py-1 text-black">Gasofinha</h2>
                </div>
                <div class="card-body">
                    <h5 class="m-0 text-center"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Dirección:</strong> C. Torneo, 70, Casco Antiguo, 41002 Sevilla</h5>
                    <div class="w-100 pt-4 text-start ps-4">
                        <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Gasóleo:</strong> 1,3 €/l</h4>
                        <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> 1,4 €/l</h4>
                        <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong> 3 €/l</h4>
                    </div>
                </div>
            </div>
            <div class="card border-3 rounded-4 border-black p-0 mx-2 mb-4" style="width: 23rem;">
                <div class="text-uppercase text-center border border-3 border-bottom-3 border-black border-start-0 border-end-0 border-top-0 bgCard py-2 px-3">
                    <h2 class="m-0 py-1 text-black">Gasofinha</h2>
                </div>
                <div class="card-body">
                    <h5 class="m-0 text-center"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Dirección:</strong> C. Torneo, 70, Casco Antiguo, 41002 Sevilla</h5>
                    <div class="w-100 pt-4 text-start ps-4">
                        <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Gasóleo:</strong> 1,3 €/l</h4>
                        <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> 1,4 €/l</h4>
                        <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong> 3 €/l</h4>
                    </div>
                </div>
            </div>
            <div class="card border-3 rounded-4 border-black p-0 mx-2 mb-4" style="width: 23rem;">
                <div class="text-uppercase text-center border border-3 border-bottom-3 border-black border-start-0 border-end-0 border-top-0 bgCard py-2 px-3">
                    <h2 class="m-0 py-1 text-black">Gasofinha</h2>
                </div>
                <div class="card-body">
                    <h5 class="m-0 text-center"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Dirección:</strong> C. Torneo, 70, Casco Antiguo, 41002 Sevilla</h5>
                    <div class="w-100 pt-4 text-start ps-4">
                        <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Gasóleo:</strong> 1,3 €/l</h4>
                        <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> 1,4 €/l</h4>
                        <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong> 3 €/l</h4>
                    </div>
                </div>
            </div>
            <div class="card border-3 rounded-4 border-black p-0 mx-2 mb-4" style="width: 23rem;">
                <div class="text-uppercase text-center border border-3 border-bottom-3 border-black border-start-0 border-end-0 border-top-0 bgCard py-2 px-3">
                    <h2 class="m-0 py-1 text-black">Gasofinha</h2>
                </div>
                <div class="card-body">
                    <h5 class="m-0 text-center"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Dirección:</strong> C. Torneo, 70, Casco Antiguo, 41002 Sevilla</h5>
                    <div class="w-100 pt-4 text-start ps-4">
                        <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Gasóleo:</strong> 1,3 €/l</h4>
                        <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> 1,4 €/l</h4>
                        <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong> 3 €/l</h4>
                    </div>
                </div>
            </div>
            <div class="card border-3 rounded-4 border-black p-0 mx-2 mb-4" style="width: 23rem;">
                <div class="text-uppercase text-center border border-3 border-bottom-3 border-black border-start-0 border-end-0 border-top-0 bgCard py-2 px-3">
                    <h2 class="m-0 py-1 text-black">Gasofinha</h2>
                </div>
                <div class="card-body">
                    <h5 class="m-0 text-center"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Dirección:</strong> C. Torneo, 70, Casco Antiguo, 41002 Sevilla</h5>
                    <div class="w-100 pt-4 text-start ps-4">
                        <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Gasóleo:</strong> 1,3 €/l</h4>
                        <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> 1,4 €/l</h4>
                        <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong> 3 €/l</h4>
                    </div>
                </div>
            </div>
            <div class="card border-3 rounded-4 border-black p-0 mx-2 mb-4" style="width: 23rem;">
                <div class="text-uppercase text-center border border-3 border-bottom-3 border-black border-start-0 border-end-0 border-top-0 bgCard py-2 px-3">
                    <h2 class="m-0 py-1 text-black">Gasofinha</h2>
                </div>
                <div class="card-body">
                    <h5 class="m-0 text-center"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Dirección:</strong> C. Torneo, 70, Casco Antiguo, 41002 Sevilla</h5>
                    <div class="w-100 pt-4 text-start ps-4">
                        <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Gasóleo:</strong> 1,3 €/l</h4>
                        <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> 1,4 €/l</h4>
                        <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong> 3 €/l</h4>
                    </div>
                </div>
            </div>
            <div class="card border-3 rounded-4 border-black p-0 mx-2 mb-4" style="width: 23rem;">
                <div class="text-uppercase text-center border border-3 border-bottom-3 border-black border-start-0 border-end-0 border-top-0 bgCard py-2 px-3">
                    <h2 class="m-0 py-1 text-black">Gasofinha</h2>
                </div>
                <div class="card-body">
                    <h5 class="m-0 text-center"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Dirección:</strong> C. Torneo, 70, Casco Antiguo, 41002 Sevilla</h5>
                    <div class="w-100 pt-4 text-start ps-4">
                        <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Gasóleo:</strong> 1,3 €/l</h4>
                        <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> 1,4 €/l</h4>
                        <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong> 3 €/l</h4>
                    </div>
                </div>
            </div>
            <div class="card border-3 rounded-4 border-black p-0 mx-2 mb-4" style="width: 23rem;">
                <div class="text-uppercase text-center border border-3 border-bottom-3 border-black border-start-0 border-end-0 border-top-0 bgCard py-2 px-3">
                    <h2 class="m-0 py-1 text-black">Gasofinha</h2>
                </div>
                <div class="card-body">
                    <h5 class="m-0 text-center"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Dirección:</strong> C. Torneo, 70, Casco Antiguo, 41002 Sevilla</h5>
                    <div class="w-100 pt-4 text-start ps-4">
                        <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Gasóleo:</strong> 1,3 €/l</h4>
                        <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> 1,4 €/l</h4>
                        <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong> 3 €/l</h4>
                    </div>
                </div>
            </div>
        <!--}-->
    </div>
</div>