<div class="container-fluid text-center my-5">
    <div class="row d-flex justify-content-center">
        @for(gasolinera of filteredGasolineraList; track gasolineraList.indexOf(gasolinera)) {
            <div class="card border-3 rounded-4 border-black p-0 mx-2 mb-4" style="width: 23rem;">
                <div class="text-uppercase text-center border border-3 border-bottom-3 border-black border-start-0 border-end-0 border-top-0 bgCard py-2 px-3">
                    <h3 class="m-0 py-1 text-black"><strong>{{ gasolinera.nombre }}</strong></h3>
                </div>
                <div class="card-body d-flex flex-column" style="height: 100%;">
                    <div class="w-100 d-flex justify-content-start align-items-top">
                        <h5 class="m-0 text-start textoUno"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Dirección:</strong></h5>
                        <h6 class="m-0 text-start textoDos ps-1 pt-1"> {{gasolinera.direccion}}</h6>
                    </div>
                    <div class="w-100 d-flex justify-content-start align-items-top mt-2">
                        <h5 class="m-0 text-start w-50"><i class="bi bi-geo-alt-fill"></i>&nbsp;<strong>Código Postal:</strong></h5>
                        <h6 class="m-0 text-start w-auto ps-1 pt-1"> {{gasolinera.postalCode}}</h6>
                    </div>
                    <div class="w-100 pt-4 text-start ps-2 mb-auto">
                        @if (filter.fuelType == '') {
                            @if (gasolinera.priceHidro == "") {
                                <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong>&nbsp;&nbsp;<i class="bi bi-x-octagon-fill bgUno"></i></h4>
                            } @else {
                                <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Hidrógeno:</strong> {{gasolinera.priceBiodiesel}} €/l</h4>
                            }
                            @if (gasolinera.price95 !== '') {
                                <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> {{gasolinera.price95}} €/l</h4>
                            }
                            @if (gasolinera.priceDiesel !== '') {
                                <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Diesel:</strong> {{gasolinera.priceDiesel}} €/l</h4>
                            }
                        } @else if (filter.fuelType == 'Gasolina' && gasolinera.price95 !== '') {
                            <h4><i class="bi bi-2-square-fill bgDos"></i>&nbsp;&nbsp;<strong>Precio Gasolina:</strong> {{gasolinera.price95}} €/l</h4>
                        } @else if (filter.fuelType == 'Diesel' && gasolinera.priceDiesel !== '') {
                            <h4><i class="bi bi-3-square-fill bgTres"></i>&nbsp;&nbsp;<strong>Precio Diesel:</strong> {{gasolinera.priceDiesel}} €/l</h4>
                        } @else if (filter.fuelType == 'Hidro' && gasolinera.priceHidro !== '') {
                            <h4><i class="bi bi-1-square-fill bgUno"></i>&nbsp;&nbsp;<strong>Precio Hidro:</strong> {{gasolinera.priceHidro}} €/l</h4>
                        }
                    </div>
                    <div class="align-self-end pt-3">
                        <a type="button" target="_blank" [href]="gasolinera.latitud | googleMapsLink: gasolinera.longitud" class="btn btn-danger">
                            <strong>VER UBICACIÓN</strong>&nbsp;<i class="bi bi-geo-alt-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
